### GRADIENTE ESTOCÁSTICO DESCENDENTE.

In [1]:
import random
import matplotlib.pyplot as plt
import csv
from math import exp
import numpy as np
import pandas as pd

Datos

In [2]:
def load_data(path, header):
    marks_df = pd.read_csv(path, header=header)
    return marks_df
random.seed(1)

In [3]:
data = load_data("iris_num.txt",None)

In [4]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  1
1    4.9  3.0  1.4  0.2  1
2    4.7  3.2  1.3  0.2  1
3    4.6  3.1  1.5  0.2  1
4    5.0  3.6  1.4  0.2  1
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  0
146  6.3  2.5  5.0  1.9  0
147  6.5  3.0  5.2  2.0  0
148  6.2  3.4  5.4  2.3  0
149  5.9  3.0  5.1  1.8  0

[150 rows x 5 columns]

Hacemos función de predicción

In [5]:
data_iris_setosa = data[0:50]
data_iris_no_setosa = data[50:150]

In [6]:
data_with_two_species = data.sample(frac=1)

In [7]:
#Datos de entrenamiento
datos_entrenamiento = data_with_two_species[0:80]

In [8]:
#Datos de verificación
data_validacion = data_with_two_species[:-20]

In [9]:
datos_entrenamiento

       0    1    2    3  4
36   5.5  3.5  1.3  0.2  1
20   5.4  3.4  1.7  0.2  1
103  6.3  2.9  5.6  1.8  0
23   5.1  3.3  1.7  0.5  1
33   5.5  4.2  1.4  0.2  1
..   ...  ...  ...  ... ..
90   5.5  2.6  4.4  1.2  0
94   5.6  2.7  4.2  1.3  0
55   5.7  2.8  4.5  1.3  0
50   7.0  3.2  4.7  1.4  0
69   5.6  2.5  3.9  1.1  0

[80 rows x 5 columns]

In [10]:
datos_entrenamiento.shape

(80, 5)

In [11]:
y = np.array(datos_entrenamiento[4])
y

array([1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [12]:
x = np.array(datos_entrenamiento.iloc[:, 0:4])

In [42]:
theta = np.array([0.0, 0.0, 0.0, 0.0])

In [49]:
def gde(x,y,theta,lamb,iteraciones):
    
    y_len = len(y) # 
    
    
    def f_perdida(theta,x,y):
        if (np.dot(theta,x.T)*y)<1:
            return -1
        else:
            return 0
    
    for j in range(iteraciones):

        rand_int = np.random.randint(0,y_len) # elige el dato al azar entre cero y y_len
        x_i=x[rand_int,:].reshape(1,x.shape[1])
        y_i=y[rand_int].reshape(1,1)
        theta=theta-(1/y_len)*(f_perdida(theta,x_i,y_i)*y_i@x_i+(lamb/2)*(np.linalg.norm(theta)**2))
        
    return theta

In [50]:
gde(x, y, theta,lamb=0.01,iteraciones=1000)

array([[0.18775838, 0.12900838, 0.05400838, 0.00525838]])