### GRADIENTE ESTOCÁSTICO DESCENDENTE.

In [1]:
import random
import matplotlib.pyplot as plt
import csv
from math import exp
import numpy as np
import pandas as pd
from colorama import Fore, Back, Style

Datos

In [2]:
def load_data(path, header):
    marks_df = pd.read_csv(path, header=header)
    return marks_df
random.seed(1)

In [3]:
data = load_data("iris_num.txt",None)

In [4]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  1
1    4.9  3.0  1.4  0.2  1
2    4.7  3.2  1.3  0.2  1
3    4.6  3.1  1.5  0.2  1
4    5.0  3.6  1.4  0.2  1
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  0
146  6.3  2.5  5.0  1.9  0
147  6.5  3.0  5.2  2.0  0
148  6.2  3.4  5.4  2.3  0
149  5.9  3.0  5.1  1.8  0

[150 rows x 5 columns]

Hacemos función de predicción

In [5]:
data_iris_setosa = data[0:50]
data_iris_no_setosa = data[50:150]

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
type(data_iris_setosa)

pandas.core.frame.DataFrame

In [8]:
data_with_two_species = data.sample(frac=1)

In [9]:
#Datos de entrenamiento
datos_entrenamiento = data_with_two_species[0:80]

In [10]:
#Datos de verificación
data_validacion = data_with_two_species[:-20]

In [11]:
datos_entrenamiento

       0    1    2    3  4
33   5.5  4.2  1.4  0.2  1
107  7.3  2.9  6.3  1.8  0
34   4.9  3.1  1.5  0.2  1
112  6.8  3.0  5.5  2.1  0
120  6.9  3.2  5.7  2.3  0
..   ...  ...  ...  ... ..
73   6.1  2.8  4.7  1.2  0
149  5.9  3.0  5.1  1.8  0
18   5.7  3.8  1.7  0.3  1
125  7.2  3.2  6.0  1.8  0
99   5.7  2.8  4.1  1.3  0

[80 rows x 5 columns]

In [12]:
datos_entrenamiento.shape

(80, 5)

In [13]:
y = np.array(datos_entrenamiento[4])
y

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0])

In [14]:
x = np.array(datos_entrenamiento.iloc[:, 0:4])

In [15]:
theta = [0.0,0.0,0.0,0.0]

In [16]:
theta

[0.0, 0.0, 0.0, 0.0]

In [17]:
iteraciones = 1000

In [18]:
def  fun_costo(theta,x,y,lamb):

    y_len = len(y)
    predicciones = x.dot(theta)
    costo = (lamb/y_len) * np.sum(np.square(predicciones-y))
    
    return costo

In [19]:
fun_costo(theta,x,y,100)

36.25

In [20]:
def gde(x,y,theta,eta,iteraciones):
    
    y_len = len(y)
    costo_history = np.zeros(iteraciones)
    
    for j in range(iteraciones):
        costo = 0.0
        for i in range(y_len):
            rand_int = np.random.randint(0,y_len)
            x_i = x[rand_int,:].reshape(1,x.shape[1])
            y_i = y[rand_int].reshape(1,1)
            prediccion = np.dot(x_i,theta)

            theta = theta-eta*(x_i.T.dot((prediccion - y_i)))
            costo += fun_costo(theta,x_i,y_i,10)
        costo_history[j]  = costo
        
    return theta
    print(theta)

In [21]:
gde(x, y, theta, 0.001, iteraciones)

array([[ 0.08263436,  0.08263436,  0.08263436,  0.08263436],
       [ 0.25660219,  0.25660219,  0.25660219,  0.25660219],
       [-0.24485585, -0.24485585, -0.24485585, -0.24485585],
       [-0.01312207, -0.01312207, -0.01312207, -0.01312207]])