### GRADIENTE ESTOCÁSTICO DESCENDENTE.

In [1]:
import random
import matplotlib.pyplot as plt
import csv
from math import exp
import numpy as np
import pandas as pd
from colorama import Fore, Back, Style

Datos

In [2]:
def load_data(path, header):
    marks_df = pd.read_csv(path, header=header)
    return marks_df

In [3]:
data = load_data("iris_num.txt",None)

In [4]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  1
1    4.9  3.0  1.4  0.2  1
2    4.7  3.2  1.3  0.2  1
3    4.6  3.1  1.5  0.2  1
4    5.0  3.6  1.4  0.2  1
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  0
146  6.3  2.5  5.0  1.9  0
147  6.5  3.0  5.2  2.0  0
148  6.2  3.4  5.4  2.3  0
149  5.9  3.0  5.1  1.8  0

[150 rows x 5 columns]

Hacemos función de predicción

In [5]:
data_iris_setosa = data[0:50]
data_iris_no_setosa = data[50:150]

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
type(data_iris_setosa)

pandas.core.frame.DataFrame

In [8]:
data_with_two_species = data.sample(frac=1)

In [9]:
#Datos de entrenamiento
datos_entrenamiento = data_with_two_species[0:80]

In [10]:
#Datos de verificación
data_validacion = data_with_two_species[:-20]

In [11]:
datos_entrenamiento

       0    1    2    3  4
66   5.6  3.0  4.5  1.5  0
36   5.5  3.5  1.3  0.2  1
59   5.2  2.7  3.9  1.4  0
111  6.4  2.7  5.3  1.9  0
32   5.2  4.1  1.5  0.1  1
..   ...  ...  ...  ... ..
33   5.5  4.2  1.4  0.2  1
8    4.4  2.9  1.4  0.2  1
117  7.7  3.8  6.7  2.2  0
98   5.1  2.5  3.0  1.1  0
107  7.3  2.9  6.3  1.8  0

[80 rows x 5 columns]

In [19]:
y = datos_entrenamiento[4]
y

66     0
36     1
59     0
111    0
32     1
      ..
33     1
8      1
117    0
98     0
107    0
Name: 4, Length: 80, dtype: int64

In [20]:
x = datos_entrenamiento.iloc[:, 0:4]
x

       0    1    2    3
66   5.6  3.0  4.5  1.5
36   5.5  3.5  1.3  0.2
59   5.2  2.7  3.9  1.4
111  6.4  2.7  5.3  1.9
32   5.2  4.1  1.5  0.1
..   ...  ...  ...  ...
33   5.5  4.2  1.4  0.2
8    4.4  2.9  1.4  0.2
117  7.7  3.8  6.7  2.2
98   5.1  2.5  3.0  1.1
107  7.3  2.9  6.3  1.8

[80 rows x 4 columns]

In [15]:
theta = 0

In [16]:
iteraciones = 1000

In [18]:
def  cal_cost(theta,x,y):

    y_len = len(y)
    predictions = x.dot(theta)
    cost = (1/2*y_len) * np.sum(np.square(predictions-y))
    
    return cost

In [21]:
cal_cost(theta,x,y)

IndexError: tuple index out of range

In [22]:
def gde(x,y,theta,learning_rate=0.01,iterations=1000):
    
    y_len = len(y)
    cost_history = np.zeros(iterations)
    
    for j in range(iterations):
        cost = 0.0
        for i in range(y_len):
            rand_int = np.random.randint(0,y_len)
            x_i = x[rand_int,:].reshape(1,x.shape[1])
            y_i = y[rand_int].reshape(1,1)
            prediction = np.dot(x_i,theta)

            theta = theta -(1/y_len)*learning_rate*( x_i.T.dot((prediction - y_i)))
            cost += cal_cost(theta,x_i,y_i)
        cost_history[j]  = cost
        
    return theta
    print(theta)

In [23]:
gde(x, y, theta, 0.01, iterations)

NameError: name 'iterations' is not defined