### GRADIENTE ESTOCÁSTICO DESCENDENTE.

In [1]:
import random
import matplotlib.pyplot as plt
import csv
from math import exp
import numpy as np
import pandas as pd

Datos

In [2]:
def load_data(path, header):
    marks_df = pd.read_csv(path, header=header)
    return marks_df
random.seed(1)

In [3]:
data = load_data("iris_num.txt",None)

In [4]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  1
1    4.9  3.0  1.4  0.2  1
2    4.7  3.2  1.3  0.2  1
3    4.6  3.1  1.5  0.2  1
4    5.0  3.6  1.4  0.2  1
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  0
146  6.3  2.5  5.0  1.9  0
147  6.5  3.0  5.2  2.0  0
148  6.2  3.4  5.4  2.3  0
149  5.9  3.0  5.1  1.8  0

[150 rows x 5 columns]

Hacemos función de predicción

In [5]:
data_iris_setosa = data[0:50]
data_iris_no_setosa = data[50:150]

In [6]:
data_with_two_species = data.sample(frac=1)

In [7]:
#Datos de entrenamiento
datos_entrenamiento = data_with_two_species[0:80]

In [8]:
#Datos de verificación
data_validacion = data_with_two_species[:-20]

In [9]:
datos_entrenamiento

       0    1    2    3  4
73   6.1  2.8  4.7  1.2  0
9    4.9  3.1  1.5  0.1  1
36   5.5  3.5  1.3  0.2  1
113  5.7  2.5  5.0  2.0  0
100  6.3  3.3  6.0  2.5  0
..   ...  ...  ...  ... ..
74   6.4  2.9  4.3  1.3  0
125  7.2  3.2  6.0  1.8  0
15   5.7  4.4  1.5  0.4  1
21   5.1  3.7  1.5  0.4  1
28   5.2  3.4  1.4  0.2  1

[80 rows x 5 columns]

In [10]:
datos_entrenamiento.shape

(80, 5)

In [11]:
y = np.array(datos_entrenamiento[4])
y

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1])

In [12]:
x = np.array(datos_entrenamiento.iloc[:, 0:4])

In [13]:
theta = np.array([0.0, 0.0, 0.0, 0.0])

In [14]:
def gde(x,y,theta,lamb,eta,iteraciones):
    
    y_len = len(y) # 
    
    
    def f_perdida(theta,x,y):
        if (np.dot(theta,x.T)*y)<1:
            return -1
        else:
            return 0
    
    for j in range(iteraciones):

        rand_int = np.random.randint(0,y_len) # elige el dato al azar entre cero y y_len
        x_i=x[rand_int,:].reshape(1,x.shape[1])
        y_i=y[rand_int].reshape(1,1)
        theta=theta-(eta)*y_i@x_i*(f_perdida(theta,x_i,y_i)+(lamb/2)*np.linalg.norm(theta)**2)
        
    return theta

In [15]:
gde(x, y, theta,lamb=0.01,eta=0.01,iteraciones=1000)

array([[0.14928686, 0.10211039, 0.0432176 , 0.00687095]])

In [ ]:
gde()

In [45]:
def f_perdida(theta,x,y):
    if (np.dot(theta,x.T)*y)<1:
        return -1
    else:
        return 0

In [42]:
rand_int = np.random.randint(0,80) # elige el dato al azar entre cero y y_len
x_i=x[rand_int,:].reshape(1,x.shape[1])
y_i=y[rand_int].reshape(1,1)

In [43]:
f_perdida(theta,x_i,y_i)

-1